@media (min-width: 992px) {
  .top-center-md , {
    float: top;
  }

  .top-center-md{
  	position: relative;
  	top: 14rem;
  }
}

  @media (max-width: 992px) {
  .top-center-xs , {
    float: top;
  }

  .top-center-xs{
  	position: relative;
  	top: 3rem;
  }
}