
/*当画面宽度大于992px时调整文本上下位置 调整方式为修改top值*/
@media (min-width: 992px) {  

  .top-center-conter-bg2  {
    float: top;
    position: relative;
    top: -1rem;
  }
  .top-center-conter-bg3  {
    float: top;
    position: relative;
  	top: 5rem;
  }



/*当画面宽度大于1200px时调整文本上下位置 调整方式为修改top值*/
 @media (min-width: 1200px) {
  .top-center-conter-bg2  {
      float: top;
      position: relative;
      top: 5rem;
    }

  .top-center-conter-bg3  {
    float: top;
    position: relative;
  	top: 11rem;
  }
 
  


