.font-homepage{
	font-family: 微软雅黑;
	font-size: 60px;
	color: #fff;
}

.font-bg2{
	font-family: 微软雅黑;
	font-size: 45px;
	color: #fff;

}
.font-link{
	font-size: 25px;
	color: #fff;
	position: relative;
	left: 200px;
	top: 150px;
}
