.logo{
	position: relative;
	top: 300px;
	left: 700px;
}	
#div1{
	height: 988px;
	width: 1903px;
	background-repeat: no-repeat;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: -8px;
	padding-bottom: -8px;

}
#div2{
	height: 988px;
	width: 1903px;
	background-repeat: no-repeat;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: -8px;
	padding-bottom: -8px;

}
#div3{
	height: 988px;
	width: 1903px;
	background-repeat: no-repeat;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: -8px;
	padding-bottom: -8px;
}
#div4{
	height: 988px;
	width: 1903px;
	background-repeat: no-repeat;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: -8px;
	padding-bottom: -16px;
}